<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Save Rent</title>
</head>
<body>
<div class="container">
    <h3>Rent serivce</h3>
    <hr>
    <p class="h4 mb-4">Save Employee</p>
    <form action="#" th:action="@{/rents/save}"
                    th:object="${rents}" method="POST">
        <!--Add hidden Form -->
        <input type="hidden" th:field="*{id}">

        <input required type="number" min="1" max="8" th:field="*{bookCode}"
               class="form-control mb-4 w-25" placeholder="book code">

        <input required type="number" min="1" max="7" th:field="*{studentId}"
               class="form-control mb-4 w-25" placeholder="student id">

        <input required type="date" th:field="*{rentStartDate}"
               class="form-control mb-4 w-25" placeholder="Data wypożyczenia">
            <div th:if="${#fields.hasErrors('bookCode')}" class="alert alert-danger">
                <p th:text="${#fields.errors('bookCode')[0]}"></p>
            </div>

            <div th:if="${#fields.hasErrors('studentId')}" class="alert alert-danger">
                <p th:text="${#fields.errors('studentId')[0]}"></p>
            </div>

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/rents/list}">Back to List</a>
</div>
</body>
</html>